@charset "UTF-8";
/* ------------Pub begin------------ */

/* 防止用户自定义背景颜色对网页的影响，添加让用户可以自定义字体 */
html {
    color:#000;
    background:#fff;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/* 内外边距通常让各个浏览器样式的表现位置不同 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    margin:0;
    padding:0;
}

/* 重设 HTML5 标签, IE 需要在 js 中 createElement(TAG) */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display:block;
}

/* HTML5 媒体文件跟 img 保持一致 */
audio,canvas,video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

/* 要注意表单元素并不继承父级 font 的问题 */
body,button,input,select,textarea {
    font:12px/1.5 '微软雅黑',tahoma,arial,"Hiragino Sans GB",\5b8b\4f53;
}
input,select,textarea {
    outline: none;
    font-size:100%;
}

/* 去掉各Table  cell 的边距并让其边重合 */
table {
    border-spacing:0;
    border-collapse:collapse;
}

/* IE bug fixed: th 不继承 text-align*/
th {
    text-align:inherit;
    font-weight:bold;
}

/* 去除默认边框 */
fieldset,img {
    border:0;
}

/* ie6 7 8(q) bug 显示为行内表现 */
iframe {
    display:block;
}

/* 去掉 firefox 下此元素的边框 */
abbr,acronym {
    border:0;
    font-variant:normal;
}

/* 一致的 del 样式 */
del {
    text-decoration:line-through;
}

address,caption,cite,code,dfn,em,th,var {
    font-weight:500;
    font-style:normal;
}

/* 去掉列表前的标识, li 会继承 */
ol,ul {
    list-style:none;
}

/* 对齐是排版最重要的因素, 别让什么都居中 */
caption,th {
    text-align:left;
}

/* 来自yahoo, 让标题都自定义, 适应多个系统应用 */
h1,h2,h3,h4,h5,h6 {
    font-size:100%;
    font-weight:500;
}

q:before,q:after {
    content:'';
}

/* 统一上标和下标 */
sub, sup {
    position: relative;
    vertical-align: baseline;
    font-size: 75%;
    line-height: 0;
}
sup {
    top: -0.5em;
}
sub {
    bottom: 0em;
}

/* 正常链接 未访问 */
a:link ,
a:visited{
    text-decoration: none;
}
/*红色的链接*/
a.redlink:link ,
a.redlink:visited{
    text-decoration: none;
}

/* 鼠标悬停 */
a:hover {
    text-decoration: underline;
}

/* 默认不显示下划线，保持页面简洁 */
ins,a {
    text-decoration:none;
}

/* 代码字体 */
code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 1em;
}

/* 清理浮动 */
.fn-clear:after {
    display:block;
    visibility:hidden;
    clear:both;
    height:0;
    content:" ";
    font-size:0;
}
.fn-clear {
    zoom:1;
    /* for IE6 IE7 */;
}

img {
    height: auto;
    vertical-align: middle;
    max-width: 100%;
    width: 100%;
}

/* 隐藏, 通常用来与 JS 配合 */
.fn-hide {
    display:none;
}

/* 设置内联, 减少浮动带来的bug */
.fn-left,
.fn-right {
    display:inline;
}
.fn-left {
    float:left;
}
.fn-right {
    float:right;
}

/* 单行文字溢出时出现省略号，需设定宽度 */
.fn-text-overflow {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

input,select,a{
    -webkit-tap-highlight-color:rgba(255,0,0,0);
}

/* color */
.ui-font555{
  color: #555;
}
.ui-font999{
  color: #999;
}
.ui-fontf60{
  color: #f60;
}

/* btn */
.ui-btn{
  appearance: none;
  -webkit-appearance: none;
  height: 34px;
  line-height: 34px;
  font-size: 15px;
  border:0;
  border-radius: 5px;
  display: block;
  width: 100%;
  text-align: center;
}
.ui-btn:hover{
  text-decoration: none;
}
.ui-orange-btn{
  background: #f60;
  color: #fff;
}

/* 刷新 */
.ui-fresh-inner{
  position: relative;
  display: block;
  text-align: center;
  height: 40px;
  line-height: 40px;
}
.iconarr:before{
  content: '\e633';
  position: absolute;
  left: 50%;
  margin-left: -82px;
  color: #4fc1e9;
}
.iconarrup:before{
  content: '\e632';
}
.ui-fresh-text {
  position: absolute;
  left: 50%;
  margin-left: -55px;
  color: #999;
  font-family: 'Microsoft Yahei';
}
.ui-fresh2-text {
    display: inline-block;
    font-size: 18px;
    color: #999;
    font-family: 'Microsoft Yahei';
}
/*小图标 start*/
#preloader_1{
    position: relative;
    top: -19px;
    height: 40px;
    width: 54px;
    margin: 0 auto;
}
#preloader_1 span{
    position:absolute;
    display:block;
    bottom:0;
    width:9px;
    height:5px;
    background: #9b59b6;
    animation:preloader_1 1.5s infinite ease-in-out;
    -webkit-animation:preloader 1.5s infinite ease-in-out;
}
#preloader_1 span:nth-child(2){
    left:11px;
    animation-delay:.2s;
    -webkit-animation-delay:.2s;
}
#preloader_1 span:nth-child(3){
    left:22px;
    animation-delay:.4s;
    -webkit-animation-delay:.4s;
}
#preloader_1 span:nth-child(4){
    left:33px;
    animation-delay:.6s;
    -webkit-animation-delay:.6s;
}
#preloader_1 span:nth-child(5){
    left:44px;
    animation-delay:.8s;
    -webkit-animation-delay:.8s;
}
@keyframes preloader{
    0%{height:5px;transform:translateY(0);background: #9b59b6;}
    25%{height:30px;transform:translateY(15px);background: #3498bd;}
    50%{height:5px;transform:translateY(0);background: #9b59b6;}
    100%{height:5px;transform:translateY(0);background: #9b59b6;}
}
@-webkit-keyframes preloader{
    0%{height:5px;transform:translateY(0);-webkit-transform:translateY(0);background: #9b59b6;}
    25%{height:30px;transform:translateY(15px);-webkit-transform:translateY(15px);background: #3498bd;}
    50%{height:5px;transform:translateY(0);-webkit-transform:translateY(0);background: #9b59b6;}
    100%{height:5px;transform:translateY(0);-webkit-transform:translateY(0);background: #9b59b6;}
}
/*小图标 end*/


/*表单验证提示tip*/
.form-info{
  position:fixed;
  z-index:99999;
  bottom:10px;
  left:50%;

  width:200px;
  margin-left:-100px;
  padding:8px;

  text-align:center;

  color: #fff;
  background-color:rgba(0,0,0,0.5);
  -webkit-box-shadow:2px 2px 3px #aaa;
  -moz-box-shadow:2px 2px 3px #aaa;
  /*filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#999999'); */
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);

  font: 16px/1.5 tahoma, arial, "微软雅黑", sans-serif;
}