/* initialization */
body,h1,h2,h3,h4,p,dl,dt,dd,ul,li,form,th,td,table,label,article,aside,dialog,footer,header,section,footer,nav,figure,hgroup
	{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

article,aside,dialog,footer,header,section,footer,nav,figure,hgroup {
	display: block;
}

ul {
	list-style: none;
}

img {
	border: none;
}

em,b {
	font-style: normal;
}

b {
	font-weight: normal;
}

a {
	cursor: pointer;
}

button,input,select,textarea {
	font-size: 100%;
	outline: 0;
	vertical-align: middle;
	margin: 0;
	padding: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.clearfix:after {
	content: "\0020";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfix {
	clear: both;
	zoom: 1;
}
/* public */
a {
	text-decoration: none;
	color: #333;
}

a:hover {
	text-decoration: underline;
	color: #e60012;
}
/* hd */
#hd {
	position: relative;
	height: 70px;
	border: 1px solid #e5e5e5;
	background: #fcfcfc;
}
/* common div */
/*==========fun-list==========*/
.quick-menu {
	position: absolute;
	top: 5px;
	right: 10px;
	width: 130px;
	overflow: hidden;
}

.quick-menu a {
	position: relative;
	left: 10px;
	padding: 0 7px;
	width: 50px;
	line-height: 22px;
	color: #676767;
	border-right: 1px solid #eee7ee;
}

.quick-menu a:hover {
	color: #e60012;
}
/*=====================================================================================================================*/
/* div container */
/* #wrap{position:absolute; padding:100px 0 0; width:960px;height:430px;left:50%;top:50%;margin:-245px 0px 0px -480px;} */
#wrap {
	margin: 0px auto;
	padding-top: 15px;
	width: 976px;
	height: 430px;
}

#bd {
	position: relative;
	margin: 0 0 10px;
}

#ft {
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #666;
}

#ft a {
	color: #2d80c4;
}

#ft a:hover {
	color: #e60012;
}
/* common div  */
/*==========crumbs==========*/
.crumbs {
	height: 30px;
	line-height: 30px;
}

.crumbs a {
	color: #2b7ec2;
}

.crumbs a:hover {
	color: #e60012;
}

.crumbs span {
	color: #8f8f8f;
}
/*==========main==========*/
.main1 {
	position: relative;
	width: 976px;
	overflow: hidden;
}
/*==========aside==========*/
.aside {
	position: absolute;
	top: 0;
	right: 0;
	padding: 10px 0 0;
	width: 230px;
	height: auto;
	border: 1px solid #8293be;
	overflow: hidden;
}
/*==========content==========*/
.sift-box {
	padding: 10px 0 0 10px;
	width: 966px;
	height: 31px;
	color: #fff;
	font-size: 16px;
	background: url(../images/head_bg.jpg) repeat-x;
	overflow: hidden;
}

.sift-box .left {
	float: left;
	margin: 0 10px 0 0;
}

#rl {
	width: 976px
}

.sift-box .right {
	float: right;
	margin: 0 10px 0 0;
	display: inline;
}

.sift-box .btn-pre {
	margin: 0 5px 0 0;
	width: 22px;
	height: 22px;
	_height: 23px;
	border: 0;
	background: url(../images/pre.jpg) no-repeat 0 0;
	cursor: pointer;
	overflow: hidden;
}

.sift-box .btn-next {
	margin: 0 10px 0 0;
	width: 22px;
	height: 22px;
	_height: 23px;
	border: 0;
	background: url(../images/next.jpg) no-repeat 0 0;
	cursor: pointer;
	overflow: hidden;
}

.sift-box select {
	margin: 0 5px 0 0;
	padding: 1px;
	height: 22px;
	border: 1px solid #194c9e;
}

.sift-box select option {
	height: 22px;
}

.calendar-container {
	width: 974px;
	border-left: 1px solid #8293be;
	border-right: 1px solid #8293be;
	border-bottom: 1px solid #8293be;
	overflow: hidden;
}

ul.week {
	width: 721px;
}

ul.week li {
	position: relative;
	float: left;
	width: 101px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-weight: bold;
	font-size: 16px;
	color: #333;
	border-right: 1px solid #bdccd9;
	border-bottom: 1px solid #aab4c6;
}

ul.week li.weekend {
	color: #bf4040;
}

.calendar-container table tr td {
	padding: 1px;
	width: 100px;
	height: 61px;
	line-height: 20px;
	background: #f7fdff;
	border-right: 1px solid #b8cede;
	border-bottom: 1px solid #b4cbdb;
}

.calendar-container div {
	position: absolute;
	width: 136px;
	height: 61px;
	background: #f7fdff; text-align:center; line-height:61px;
}

.calendar-container div.end {
	width: 96px;
}

.calendar-container .bg-red {
	background: #cc6e5a;
}

.calendar-container .bg-blue {
	background: #2b89dd;
}

.calendar-container .bg-blue-hover {
	background: #aed4f4;
}

.calendar-container .bg-gray {
	background: #cdcdcd;
}

.calendar-container span {

	padding: 2px 0 0;
	font-size: 26px;
	color: #333;
	font-weight: bold;
}

.calendar-container label {
	position: absolute;
	top: 8px;
	left: 14px;
	padding: 2px 0 0;
	font-size: 14px;
	color: green;
	font-weight: bold;
}

.calendar-container .dateNum {
	left: auto;
	top: 6px;
	right: 35px;
	font-weight: bold;
	font-size: 29px;
}

.calendar-container .bg-red span {
	color: #fff;
}

.calendar-container .bg-blue span {
	color: #fff;
}

.calendar-container .nonactivated span {
	color: #cdcdcd;
}

.aside {
	background: url(../images/r_bg.jpg) repeat-x scroll left top #f2f4f6;
	height: 448px;
}

.aside p {
	margin: 0 auto;
	width: 210px;
	text-align: center;
	line-height: 24px;
	font-size: 14px;
	color: #333;
}

.aside p.dateNum {
	font-size: 90px;
	line-height: 90px;
}

.aside p b {
	font-weight: bold;
}

.aside p span.happy,span.avoid {
	padding: 0 12px 0 24px;
	line-height: 22px;
	text-align: left;
	color: #333;
	display: block;
}

.aside p span.happy {
	margin: 10px 0 0;
}

.aside p.line {
	margin: 10px auto 0;
	padding: 0;
	height: 1px;
	background: #bed0df;
	overflow: hidden;
}

.aside p a {
	line-height: 28px;
}

.clock {
	position: absolute;
	top: 88px;
	right: 14px;
}

#week1_7 {
	font-size: 22px;
	font-weight: bold;
	text-align: center;
	font-family: "微软雅黑";
}

#week1_7 td {
	vertical-align: middle;
	background-image: -moz-linear-gradient(top, #d9d8d8, #cecdcd);
	/* Firefox */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #d9d8d8),
		color-stop(1, #cecdcd) ); /* Saf4+, Chrome */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d9d8d8',
		endColorstr='#cecdcd', GradientType='0' ); /* IE*/
}

.red {
	vertical-align: middle;
	color: #bf4040;
}

#today_mon {
	width: 100px;
	height: 42px;
	font-size: 20px;
	padding-left: 240px;
}

.title_1 {
	font-size: 20px;
	padding-right: 247px;
	float: left;
	text-align: center;
	font-weight: bold;
}






